<mat-toolbar color="primary" style="background-color: #004AAD;">
  <button mat-icon-button (click)="sidenav.toggle()" class="custom-icon-button">
    <mat-icon style="color: aliceblue;">menu</mat-icon>
  </button>
  <div>
    <img class="logo-IEAD" src="../../assets/img/logo-IEAD.png">
  </div>

  <span style="flex: 1 1 0%; box-sizing: border-box;"></span>

  <span class="position-item-header">
    <a mat-list-item routerLink="/notificações">
      <mat-icon matListIcon class="mat-18" style="color: white;">notifications</mat-icon>
    </a>
  </span>

  <button mat-icon-button [matMenuTriggerFor]="menu" class="custom-icon-button">
    <mat-icon style="color: white;">account_circle</mat-icon>
  </button>

  <span>
    <mat-menu #menu="matMenu">

      <button mat-menu-item routerLink="/profile">
        <mat-icon>person</mat-icon>
        <span>Perfil</span>
      </button>

      <button mat-menu-item (click)="logout()">
        <mat-icon>logout</mat-icon>
        <span>Sair</span>
      </button>

    </mat-menu>
  </span>

</mat-toolbar>
<mat-sidenav-container>

  <!-- Sidenav -->
   <mat-sidenav #sidenav mode="side" [(opened)]="isOpened">
    <mat-nav-list>
      <a mat-list-item routerLink="/home">
        <mat-icon matListIcon class="mat-18">home</mat-icon>
        Home
      </a>
      <a mat-list-item routerLink="/membros">
        <mat-icon matListIcon class="mat-18">group</mat-icon>
        Membros
      </a>
      <a mat-list-item routerLink="/visitantes">
        <mat-icon matListIcon class="mat-18">person_add</mat-icon>
        Visitantes
      </a>
      <a mat-list-item routerLink="/agenda">
        <mat-icon matListIcon class="mat-18">event</mat-icon>
        Agenda
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <!-- Header and Main Content -->
  <mat-sidenav-content>
    <!-- Toolbar -->


    <!-- Main Content -->
    <div style="padding: 16px;">
    <!--<router-outlet></router-outlet>-->

    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
