@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
    background: url('../assets/img/Visitantes.jpg') no-repeat center center fixed;
    background-size: cover;
}

.login-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 2em;
    background-color: rgb(255, 255, 255, 0.3);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    align-items: center;
    justify-content: center;
}

.logo-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    max-width: 100%;
    height: auto;
    width: 90px; 
    margin: auto;
}
.formLogin {
    display: flex;
    flex-direction: column;
    padding: 40px;
    box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.4);
    gap: 1px;
    align-items: center;
}

.formLogin p {
   display: inline-block;
   font-size: 14px;
   color: #ffff;
   margin-bottom: 25px;
}

.formLogin input {
    padding: 12px;
    font-size: 14px;
    min-width: 300px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    margin-top: 5px;
    border-radius: 4px;
    transition: all linear 160ms;
    outline: none;
    background-color: rgba(255, 255, 255, 0.2); 
}

.formLogin input:focus {
    border: 1px solid red;
}

.formLogin label {
    color: #ffff;
    
    font-size: 14px;
    font-weight: 600;
}

.formLogin a{
    display: inline-block;
    margin-bottom: 20px;
    font-size: 10px;
    color: #ffff;
    transition: all linear 160ms;
    text-decoration: none;
}
.formLogin a:hover {
    color: red;
    font-size: 14px;
}
.button {
    padding: 15px;
    font-size: 14px;
    margin-bottom: 20px;
    margin-top: 5px;
    border-radius: 4px;
    transition: all linear 160ms;
    outline: none;
    
    
}
.btn {
    border: 0;
    padding: 9px 50px;
    color: #ffff;
    background-color: rgba(200, 145, 22, 0.4);
    font-size: 14px;
    font-weight: 600;
    transition: all linear 160ms;
    cursor: pointer;
    border-radius: 10px;
   
}

.btn:hover {
    background-color: #C89116;
    transform: scale(1.05);
}

.footer {
    color: white;
    margin-top: 25px;
    text-align: center;
}